/* style.css */
body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
}

#event-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.event-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.event-item img {
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
}
