<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Registration</title>
</head>
<body>
    <h1>상품 등록</h1>
    <form th:action="@{/admin/product/register}" method="post" enctype="multipart/form-data">
        <div>
            <label>상품명:</label>
            <input type="text" name="productName" />
        </div>
        <div>
			<label>수량:</label>
			<input type="number" name="quantity" />
        </div>
		<div>
			<label>모델:</label>
			<input type="text" name="modelId" />
		</div>
		<div>
			<label>판매 금액:</label>
			<input type="number" name="price" />
		</div>
		<label for="brand">브랜드:</label>
		    <select id="brand" name="brand">
		        <option value="" disabled selected>브랜드를 선택하세요</option>
		        <option th:each="brand : ${brands}" th:value="${brand}" th:text="${brand}"></option>
		    </select>

		    <label for="gender">성별:</label>
		    <select id="gender" name="gender">
		        <option value="" disabled selected>성별을 선택하세요</option>
		        <option th:each="gender : ${genders}" th:value="${gender}" th:text="${gender}"></option>
		    </select>

		    <label for="color">색상:</label>
		    <select id="color" name="color">
		        <option value="" disabled selected>색상을 선택하세요</option>
		        <option th:each="color : ${colors}" th:value="${color}" th:text="${color}"></option>
		    </select>

		    <label for="size">사이즈:</label>
			<select name="size">
			    <option value="230">230</option>
			    <option value="240">240</option>
			    <option value="250" selected>250</option>
			    <option value="260">260</option>
			    <option value="270">270</option>
			    <option value="280">280</option>
			    <option value="290">290</option>
			</select>
        <button type="submit">등록</button>
    </form>
</body>
</html>
