<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>

</head>
<body>
    <h1>Welcome to the Main Page</h1>
    <div>	
		<style>
	    .styled-image {
			text-align: center;
	        width: 100%; /* 화면 너비에 맞게 */
	        max-width: 600px; /* 최대 너비 제한 */
	        border: 2px solid #ccc; /* 테두리 */
	        border-radius: 10px; /* 둥근 모서리 */
	        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 */
	    }
	</style>
	      <img src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fi.ytimg.com%2Fvi%2FEUgtk6ANKdo%2Fhq720.jpg&type=sc960_832" alt="포켓몬스터 뮤" width="500" height="400">
	</div>
	
	<a href="login.html" style="
	    display: inline-block;
	    padding: 10px 20px;
	    color: white;
	    background-color: blue;
	    text-align: center;
	    text-decoration: none;
	    border-radius: 5px;">
	    로그인 페이지로 이동
	</a>
</body>
</html>
